<form class="form-signin" role="form" {{action "authenticate" on="submit"}}>
  <h2 class="form-signin-heading">Please sign in</h2>
  {{input type="email" class="form-control" placeholder="Email address" value=email required="required" autofocus="autofocus"}}
  {{input type="password" class="form-control" placeholder="Password" value=password required="required"}}
  <label class="checkbox">
    {{input type="checkbox" value="remember"}} Remember me
  </label>
  {{input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in"}}
  <p class="signup-label">Don't have an account? {{#link-to "users.new"}}Sign up{{/link-to}}</p>
  {{#if message}}
    <p class="bg-danger">{{message}}</p>
  {{/if}}
</form>